h1{box-shadow: 0 0 10px #888888; text-shadow:   0 0 3px #000000,    3px 0 3px #000000, 0 3px 3px #000000,  -3px 0 3px #000000,  
    0 -3px 3px #000000;font-size: 50px;}
h4{transform: rotate(-45deg);background-color: red;color: white;position: absolute;}