p{text-align: center;color: #993738;}
.id1{font-family: Trebuchet MS,Arial, Helvetica, sans-serif;background-color: #993738;color: azure;text-align: left;}
.chan{background-color: rgb(218, 216, 216);color:black;}
