* {padding: 0px; margin: auto;} 
.wrapper {width: 1089px;height: 800px;background-color: antiquewhite;}
header{width: 1089px;height: 150px;background-color: rgb(136, 103, 59);}
nav {width: 1089px;height: 50px;background-color: antiquewhite}
footer{width: 1089px;height: 100px;background-color: rgb(38, 28, 44);}
.content {width: 1089px;height: 500px;background-color: rgb(169, 110, 207);}
aside{width: 35%;height: 500px;background-color: rgb(108, 230, 38);float: left;}
section{width: 65%;height: 500px;background-color: rgb(109, 98, 202);float: left;}
.menu li{ float: left;width: 217.5px;list-style: none;line-height: 50px;text-align: center;text-indent: 10px; background-color: antiquewhite;position:relative;}
li a{text-decoration: none;font-weight: bold;color: blue;}
li:hover{background-color: blue;}
li:hover>a{color: yellow;font-style: italic;}
li .sub-menu{display: none ;position: absolute;}
li:hover> .sub-menu{display: block;}
li .sub-menu li:hover> .sub-menu {top: 0px;left: 217.5px;}