h1{
    color: brown;
    text-align:center;
}
.box{border-style: solid;
    float: left;
    width: 200px;
    height: 100px;
    
}
.box1{
    border-style: solid;
    float: left;
    width: 200px;
    height: 100px;
    
}
.box2{
    border-style: solid;
    float: left;
    width: 200px;
    height: 100px;
    
}
.box3{
    border-style: solid;
    float: left;
    width: 200px;
    height: 100px;
    
}
.box4{
    border-style: solid;
    float: left;
    width: 200px;
    height: 100px;
    
}
.box5{
    border-style: solid;
    float: left;
    width: 200px;
    height: 100px;
    
}
.box6{
    border-style: solid;
    float: left;
    width: 200px;
    height: 100px;
    
}
.box img:hover{
    background-color: antiquewhite;
}
